*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
.box{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* margin-top: 50%; */
    background-color: darkslategray;
    color: aliceblue;
    /* max-width: 350px; */
    /* margin-left: 50%; */
}
.heading{
    /* padding: 20px; */
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 40px;
    display: flex;
    align-items: flex-end;
    background-color: blueviolet;
    font-size: large;
    font-weight: 1000px;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75)
}
.name-input{
    display: block;
}
.name-area{
    padding: 9px;
}
.langs{
    margin-top: 20px;
    display: flex;
    gap: 25px;
}
.block{
    display: flex;
    flex-direction: column;
} 
.greetNameButton{
    margin-top: 5px;
    padding: 9px;
    background-color: springgreen;
    margin-left: 155px;
    border-radius: 6px;
}
.greeting{
    margin-top: 20px;
}